.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}


body{
  
 
  height: 1500px;
  background-position: center;
  background-size: cover;
}

.todoitem{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  background: rgba(232, 230, 230, 0.6);
  display: flex;
  justify-content: space-around;
  align-items:baseline;
}
.title{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: azure;
}

.NAVBAR{
  display: flex;
}
.btn {
  height: 55px;
}
.mb-3{
  width: 50%;
  margin-top: 20px !important;
  margin :0  auto;
  
}
